html {
    min-height: 100%;
}

body {
    min-height: 100vh;
}

#root {
    height: 100vh;
    font-family: sans-serif;
    font-size: 28px;
    box-sizing: border-box;
}

.app-container {
    height: 100vh;
    display: flex;
    position: relative;
    justify-content: center;
}

.text-container {
    height: 50vh;
    width: 100vw;
    align-items: center;
    text-align: center;
}

.normal {
    position: relative;
}

.blinking {
    position: relative;
    animation: blink 0.65s linear infinite;
    -webkit-animation: blink 0.65s infinite;
}

.complete {
    position: relative;
    color: green;
}

@keyframes blink {
    0%{
        background: black;
        color: white;
    }
    49.99% {
        background: black;
        color: white;
    }
    50%{
        background: white;
        color: black;
    }
    99.99% {
        background: white;
        color: black;
    }
}

@-webkit-keyframes blink {
    0%{
        background: black;
        color: white;
    }
    49.99% {
        background: black;
        color: white;
    }
    50%{
        background: white;
        color: black;
    }
    99.99% {
        background: white;
        color: black;
    }
}