html {
    min-height: 100%;
}

body {
    min-height: 100vh;
}

#root {
    height: 100vh;
    font-family: sans-serif;
    font-size: 28px;
    box-sizing: border-box;
}

.app-container {
    height: 100vh;
    display: flex;
    position: relative;
    justify-content: center;
}

.text-container {
    overflow: auto;
    white-space: pre;
}

.normal {
    position: relative;
}

.mistake {
    position: relative;
    background-color: red;
}

.blinking {
    position: relative;
    animation: blink 0.65s linear infinite;
    -webkit-animation: blink 0.65s infinite;
}

.mistake-blinking {
    position: relative;
    animation: mistake-blink 0.65s linear infinite;
    -webkit-animation: mistake-blink 0.65s infinite;
}

.complete {
    position: relative;
    background-color: green;
}

@keyframes blink {
    0%{
        background: black;
        color: white;
    }
    49.99% {
        background: black;
        color: white;
    }
    50%{
        background: white;
        color: black;
    }
    99.99% {
        background: white;
        color: black;
    }
}

@-webkit-keyframes blink {
    0%{
        background: black;
        color: white;
    }
    49.99% {
        background: black;
        color: white;
    }
    50%{
        background: white;
        color: black;
    }
    99.99% {
        background: white;
        color: black;
    }
}

@keyframes mistake-blink {
    0%{
        background: red;
        color: white;
    }
    49.99% {
        background: red;
        color: white;
    }
    50%{
        background: white;
        color: red;
    }
    99.99% {
        background: white;
        color: red;
    }
}

@-webkit-keyframes mistake-blink {
    0%{
        background: red;
        color: white;
    }
    49.99% {
        background: red;
        color: white;
    }
    50%{
        background: white;
        color: red;
    }
    99.99% {
        background: white;
        color: red;
    }
}